body {
    /*background-image: url("imgs/evcalipt.jpg");*/
    background-color: #cccccc;
    padding-top: 100px;
}

.logoText {
  color: #193;
  display: inline-block;
}

div#gift {
    background-image: url("imgs/party-celebration-balloons-yellow-burst-13895723.jpg");
    align-items: center;
    vertical-align: middle;
}

div#aboutUs {
    background-color: #337;
    align-items: center;
}

div#gallery {
    background-color: #396;
    /*align-items: center;*/
}

div#comments {
    background-color: #DACAA4;
    /*vertical-align: middle;
    align-items: center;
    vertical-align: middle;*/
}

div#contacts {
    background-color: #A0DEDB;
}

.centering {
  margin: auto;
  text-align: center;
  width: 100%;
}

.otstup {
  margin: 20px 60px;
}

nav {
  position: fixed;
  margin: 0px 60px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;

}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    float: right;
}
.navbarlist li {
    float: right;
}
.navbarlist li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbarlist li a.active {
    color: #080;
}

.navbarlist li a:hover:not(.active) {
    background-color: #111;
}

img.logo {
  height: 60px;
  /*display: inline-block;*/
  /*float:left;*/
}

img[name=gift] {
  height: 200px;
  margin: 30px 50px 0px 150px;
}

span.stock {
    font-family: "Times New Roman", Times, serif;
    /*display: inline-block;*/
    font-size: 20pt;
    font-style: oblique;
    color: red;
    width: 200px;
    text-align: center;
}

form.gift {
  border: solid black 2px;
  float: right;
  margin: 40px 40px;
  padding: 20px;
  background-color:rgba(255,229,169,0.5);
  /*opacity: 99%;*/
}

label.submitForm {
  display: inline-block;
  float: left;
  clear: left;
  width: 70px;
  text-align: right;
}
input.submitForm {
  display: inline-block;
  float: left;
}

div.about {
  display: inline-block;
  height: 230px;
  width: 200px;
  margin: 20px;
  background-color: green;

}

.flip-container {
  height: 100px;
  width: 100px;
}

/*div.about1 {
  margin: 20px 20px 20px 150px;
}*/

/*
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}*/

.clearfix {
  display: flex;
}

.mardinAuto {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*-----------FLIP STARTS---------*/
/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 100px;
	/*height: 50px;*/
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	/*top: 0;
	left: 0;*/
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

/*-----------FLIP ENDS---------*/


/*-------------GALERY STARTS----------*/
table {
    margin: 0 auto; /* or margin: 0 auto 0 auto */
  }

table.gallery img.picture {
  width: 100px;
  height: 100px;
  margin: 10px;
  position: relative;
  top: 0;
  left: 0;
}

table.gallery img.picture:hover {
    opacity: 0.3;
}

table.gallery img.lupa {
  position: absolute;
  top: 35px;
  left: 40px;
  width:50%;
}

.caption {
    display: block;
}
/*-------------GALERY ENDS----------*/


/*-----------COMMENTS STARTS--------*/
.carousel-items, .carousel-labels {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
}
.carousel-item {
	display: block;
	float: left;
}

.carousel-wrapper {
	width: 100%;
	position: relative;
	padding-bottom: 30%;
	background-color: #eee;
	overflow: hidden;
}
.carousel-items {
	width: 300%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	transition: left .5s ease-out;
	-o-transition: left .5s ease-out;
	-ms-transition: left .5s ease-out;
	-moz-transition: left .5s ease-out;
	-webkit-transition: left .5s ease-out;
}
.carousel-item {
	width: 33.33333333%;
	height: 100%;
  background-color: #DACAA4;
}
/*.carousel-item-blue {
	background-color: blue;
}
.carousel-item-red {
	background-color: red;
}
.carousel-item-green {
	background-color: green;
}*/
.carousel-labels {
	position: absolute;
	z-index: 2;
	left: 0;
	bottom: 0;
	height: 20px;
	width: 100%;
	padding: 10px 0;
	text-align: center;
}
.carousel-selector {
	display: none;
}
.carousel-label {
	display: inline-block;
}
.carousel-label label {
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background-color: white;
	display: block;
	cursor: pointer;
}

#slide1:checked ~ .carousel-items {
	left: 0;
}
#slide1:checked ~ .carousel-labels .carousel-label:nth-child(1) label {
	background-color: black;
}
#slide2:checked ~ .carousel-items {
	left: -100%;
}
#slide2:checked ~ .carousel-labels .carousel-label:nth-child(2) label {
	background-color: black;
}
#slide3:checked ~ .carousel-items {
	left: -200%;
}
#slide3:checked ~ .carousel-labels .carousel-label:nth-child(3) label {
	background-color: black;
}

.comment {
  /*width: 150px;*/
  height: 200px;
  float: left;
  margin: auto;
}


.commentOut {
  position:relative;
}

.commentIn {
  position:absolute;
  height: 200px;
  /*width: 200px;*/
  top:50%;
  margin-top:-100px;
  margin-left: 5%;
}

.textComment {
  position:relative;
  padding:15px;
  margin:1em 0 3em;
  color:#000;
  background:#f3961c;
  background:-webkit-gradient(linear, 0 0, 0 100%, from(#f9d835), to(#f3961c));
  background:-moz-linear-gradient(#f9d835, #f3961c);
  background:-o-linear-gradient(#f9d835, #f3961c);
  background:linear-gradient(#f9d835, #f3961c);
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
  /*margin-left:50px;*/
  float: right;
  width: 400px;
  background:#f3961c;
}

/*-----------COMMENTS ENDS--------*/

/*-----------CONTACTS STARTS-----------*/

#map {
  width: 40%;
  height: 300px;
  margin: 30px 30px 30px 80px;
  float: left;
}

.contactAddr {
  background-color:rgba(255,229,169,0.5);
  opacity: 0.3;
  width: 300px;
  float: right;
  margin: 30px;
  padding: 30px;
}

form.map {
  border: solid black 2px;
  float: right;
  width: 300px;
  margin: 40px 40px;
  background-color:rgba(255,229,169,0.5);
  padding: 30px;
  /*opacity: 99%;*/
}

/*-----------CONTACTS ENDS-----------*/
